//
   Created by Sameer on 3/8/2015.
//
   Created by Sameer on 3/8/2015.
doctype html
html(lang="en")
    head
        include ./head.jade
        title Tweet Shade - Home
body
    .container
        form.form-signin(action = '/mapTweets', method = 'POST')
            .form-group
                h2.form-signin-heading Enter the details
            .form-group
                label(for='idea') Idea
                input.form-control(type='text', name='idea', placeholder='Some idea like weather')
            .form-group
                label(for='firstHashTag') First Hash Tag
                input.form-control(type='text', name='firstHashTag', placeholder='Negative hash tag.. eg #hate')
            .form-group
                label(for='secondHashTag') Second Hash Tag
                input.form-control(type='text', name='secondHashTag', placeholder='Positive hash tag.. eg #love')
            .form-group
                button.btn.btn-default(type='submit') Submit

